* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(/site/images/MainBackground.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

body {
    height: 100vh;
}

@keyframes boxFlipRight {
    from {
        background-color: none;
    }

    to {
        background-color: green;
    }
}

@keyframes boxFlipWrong {
    from {
        background-color: none;
    }

    to {
        background-color: red;
    }
}

.main-body {
    /* display: flexbox; */
    position: relative;
    width: 25%;
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.image-sizing {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    padding: 0.1rem;
    font-size: 1rem;
    gap: 5px;
    justify-content: center;
}

.box {
    width: 3.5rem;
    height: 3.5rem;
    background-color: none;
    border: 1px grey solid;
    padding: 2px;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.label-box {
    width: 3.5rem;
    height: auto;
    /* background-color: black; */
    text-align: center;
    color: white;
    border: 1px grey solid;
    padding: 2px;
}

.pname {
    width: 10rem;
    /* background-color: black; */
    text-align: center;
    color: white;
}

.match {
    display: block;
    padding: 2px;
}

.match:not(.no-hover):hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.match:focus {
    background-color: antiquewhite;
    cursor: pointer;
}



#header-logo-link {
    font-size: 3rem;
    color: rgb(255, 4, 4);
    text-decoration-line: none;
}

#player-card-img {
    width: auto;
    /* scale: 80%;  */
}

#guess-form {
    display: flex;
    margin-left: 50px;
    padding: 10px;
}

#guess-box {
    font-size: 1rem;
    height: 2.2rem;
    /* margin-left: 48px; */
    margin-right: 56px;
    text-align: right;
    font-family: 'Rubik', sans-serif;
    /* top: 0; */


}

#ac-box {
    display: block;
    margin-right: 56px;
    background-color: white;
    flex-direction: column;
    margin-left: 1px;
    margin-right: 57px;
    overflow-y: scroll;
    max-height: 120px;
    z-index: 1;
}

#guess-box-wrapper {
    flex-direction: column;
    min-height: 1rem;
    font-size: 1rem;
    margin-right: 56px;
    text-align: right;
    position: relative;
}