* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(/site/images/MainBackground.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

@keyframes boxFlipRight {
    from {
        background-color: none;
    }

    to {
        background-color: green;
    }
}

@keyframes boxFlipWrong {
    from {
        background-color: none;
    }

    to {
        background-color: red;
    }
}

.main-body {
    /* display: flexbox; */
    position: relative;
    width: 25%;
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.image-sizing {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    padding: 0.1rem;
    font-size: 1rem;
    gap: 5px;
    justify-content: center;
}

.box {
    width: 3.5rem;
    height: 3.5rem;
    background-color: none;
    border: 1px grey solid;
    padding: 2px;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.label-box {
    width: 3.5rem;
    height: auto;
    /* background-color: black; */
    text-align: center;
    color: white;
    border: 1px grey solid;
    padding: 2px;
}

.pname {
    width: 10rem;
    /* background-color: black; */
    text-align: center;
    color: white;
}

/* .wrong-guess {
    display: none;
} */

#header-logo-link {
    font-size: 3rem;
    color: white;
    text-decoration-line: none;
}

#aria-autocomplete {
    background-color: white;
}

#player-card-img {
    width: auto;
    /* scale: 80%;  */
}

#guess-form {
    display: flex;
}

#guess-box {
    font-size: 1rem;
    /* margin-left: 48px; */
    margin-right: 56px;
    text-align: right;

}